@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* مخفی کردن اسکرول‌بار در مرورگرهای کروم، سافاری و اپرا */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* مخفی کردن اسکرول‌بار در فایرفاکس و اینترنت اکسپلورر */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@theme {
  --font-sans: var(--font-vazirmatn), system-ui, -apple-system, sans-serif;
  --color-background: #ffffff;
  --color-foreground: #171717;
}

.dark {
  --color-background: #0f172a;
  --color-foreground: #f1f5f9;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

